#ignore README.md
/client/README.md

#dependencies
/node_modules

.TODO
image-tools.js

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

.ebextensions/*

.ebignore

